*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'SofiaSans';
    src: url(fonts/SofiaSans-Italic-VariableFont_wght.ttf);
}
html, body{
    scroll-behavior: smooth;
    font-family: 'SofiaSans';
}
#header{
    background-image: url(images/1642036063_4-abrakadabra-fun-p-temnii-fon-kompyuter-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 958px;
}
.nav__text{
    padding-top: 350px;
}
.nav__text p{
    text-align: center;
    font-size: 40px;
    color: white;
}
.nav__text p span{
    color: rgba(162, 91, 255, 0.753);
}
.nav__text button{
    margin-left: 820px;
}

/* КНОПКА */
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}
  /* 4 */
.arrow {
    width: 50px;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 25px);
    animation: arrowDown 2s infinite;
}
.arrow.two{
    opacity: 0;
    animation-delay: 1s;
}
@keyframes arrowDown{
    0% {
        bottom: 30px;
        opacity: 1;
    }
    100%{
        bottom: 0px;
        opacity: 0;
    }
}
#about{
    background-color: rgb(255, 255, 255);
    height: 958px;
}
.head__con{
    position: sticky;
    top: 0;
    border: 4px solid rgb(0, 0, 0);
    height: 60px;
    padding: 15px 200px;
    transition: 1s;
}
.head__con:hover, .head__con .nav__con li a:hover{
    
    color: rgb(0, 0, 0);
}

.head__con ul{
    display: flex;
    column-gap: 30px;
}
a{
    text-decoration: none;
}
.nav__con a{   
    font-size: 20px; 
    color: rgb(128, 128, 128);
    font-weight: bold;
    transition: 1s;
}

ul{
    list-style: none;
}
.about h1{
    font-weight: bold;
    padding-left: 850px;
    padding-top: 5px;
    color: rgb(83, 83, 83);
    font-size: 40px;
}
.about hr{
    text-align: center;
    width: 75px;
    margin-left: 870px;
}
.charact__about{
    display: flex;
    column-gap: 150px;
    padding-top: 50px;
    padding-left: 500px;
}
.charact__about p{
    width: 200px;
    text-align: justify;
    font-size: 20px;
}
.charact__about p b{
    padding-left: 5px;
    font-size: 25px;
}
.about__me{
    padding-top: 50px;
    padding-left: 400px;
}
.me__text_photo{
    display: flex;
}
.me__text_photo ul li img{
    width: 250px;
    border-radius: 100px;
}
.text__about__me{
    padding-left: 80px;
}
.text__about__me p{
    text-align: justify;
    width: 400px;
    font-size: 20px;
}
.text__about{
  text-align: center;
  width: 170px;
  font-size: 25px;
  margin-left: 80px;
}
.text__about img {
  width: 100px;
  height: 100px;
  
}
.text__about p {
  font-size: 20px;
  color: rgb(128, 128, 128);
}
.line__lang{
    display: flex;
    margin: 100px;
    position: relative;
}
li{
    list-style: none;
}
.line__lang ul {
  margin-right: 20%;
  margin: auto;
}

/* skill */

:root{
  --degree:80deg;
  --smoothing:0.5deg;
  --color:rgb(0, 0, 0);
  }
  
  .a{
    height:200px;
    width:200px;
  border-radius:50%;
  background: conic-gradient(
       var(--color) var(--degree), transparent calc(var(--degree) + var(--smoothing)) 100%);
  
  }
  
  .b{
    height:84%;
    width:84%;
    top:8%;
    left:8%;
    position:relative;
    border-radius:50%;
    background:#D3D3D3;
  }



#portfolio{
    background-color:  rgb(221, 221, 221);
    height: 958px;
}
.portfolio h1{
    font-weight: bold;
    padding-left: 850px;
    padding-top: 5px;
    color: rgb(83, 83, 83);
    font-size: 40px;
}
.portfolio hr{
    text-align: center;
    width: 75px;
    margin-left: 885px;
}
.hr_sites{
  width: 300px;
}
.site{
  padding-top: 50px;
  padding-left: 20px;
}
.site img{
  width: 500px;
}
.sel_site{
  padding-left: 60px;
  padding-top: 50px;
}
.sel_site  img{
  width: 550px;
}
.img_site{
  display: flex;
  column-gap: 40px;
}
.btn_site{
  display: flex;
  padding-top: 20px;
  padding-left: 200px;
  column-gap: 490px;
}
.btn_site a button{
  width: 120px;
  height: 40px;
  background-color: #5688B2;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  cursor: pointer;
}






